* {
    margin: 0;
    padding: 0;
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 5px;
}

#dordrecht {
    border-bottom: 5px solid #ffffff;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 15px;
    color: rgb(128, 113, 94);
}

h3 {
    text-align: center;
    background-color: rgb(128, 113, 94);
    padding: 5px;
    width: 250px;
    margin: 0 auto;
}

.text {
    padding: 20px;
    margin: 10px;
}

main {
    background-image: url('images/header.png');
    background-size:cover;
    background-position: center;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    text-shadow: 5px 0 5px black;
}


.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 95%;
    height: auto;
}

#todo {
  display: flex;
  flex-direction: row; 
  padding: 20px;
  margin: 10px;
  gap: 30px;            
}

#todo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(128, 113, 94);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.todo-item {
  background-color: rgb(226, 237, 234);
  color: rgb(128, 113, 94);
  text-shadow: none;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-sizing: border-box;
  text-align: center;
}

.todo-item:hover {
  background-color: rgb(128, 113, 94);
  color: white;
  text-shadow: 2px 2px 5px black;
}
@media (max-width: 1000px) {
  #todo {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .todo-item {
    width: 90%;         
    max-width: 400px;     
  }
}



#Getting-there {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (max-width: 1000px) {
  #Getting-there {
    flex-direction: column;
    align-items: center;
  }